torch
torchvision
torchaudio
torch-geometric
lightning
pytorch-lightning
torchmetrics
numpy
scipy
h5py
tqdm
kornia
hilbertcurve
wandb
random-fourier-features-pytorch
scikit-learn
matplotlib
seaborn
pytest
-e git+https://github.com/Kitsunetic/space-filling-pytorch.git#egg=space-filling-pytorch
